<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>NonetEnsemble ～魔法仕掛けの迷宮～：魔石一覧</title>
  <script src="https://unpkg.com/vue@next"></script>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div id="app">
    <h1>NonetEnsemble ～魔法仕掛けの迷宮～：魔石一覧</h1>
    <hr>
    <div>
      <div class="search-cond">
        <label class="search-item">属性</label>
        <div id="attr-button-wrapper">
          <div class="attr-button">ALL</div>
          <div class="attr-button">火</div>
          <div class="attr-button">水</div>
          <div class="attr-button">氷</div>
          <div class="attr-button">風</div>
          <div class="attr-button">雷</div>
          <div class="attr-button">地</div>
          <div class="attr-button">光</div>
          <div class="attr-button">闇</div>
          <div class="attr-button">音</div>
        </div>
      </div>
      <div class="search-cond">
        <label class="search-item" for="name">名称</label><!--
        --><select name="name" v-model="selectedName" @change="onChangeName">
          <option v-for="maseki in nameList" :value="maseki.name">{{maseki.display}}</option>
        </select>
      </div>
      <div class="search-cond">
        <label class="search-item" for="effect-group">効果分類</label><!--
        --><select name="effect-group">
          <option value="all">ALL</option>
          <option value="単属性">単属性</option>
          <option value="複属性">複属性</option>
          <option value="状態異常">状態異常</option>
          <option value="バフ">バフ</option>
          <option value="その他">その他</option>
        </select>
      </div>
      <div class="search-cond">
        <label class="search-item" for="effect">効果詳細</label><!--
        --><select name="effect" v-model="selectedEffect" @change="onChangeEffect">
          <option v-for="maseki in effectList" :value="maseki.name">{{maseki.display}}</option>
        </select>
      </div>
      <div class="search-cond">
        <label class="search-item" for="sort">並び順</label><!--
        --><select name="sort">
          <option value="default">デフォルト</option>
          <option value="power">威力</option>
          <option value="range">範囲</option>
        </select>
      </div>
    </div>
    <hr>
    ※ 魔法範囲の@はプレイヤーの位置。赤色があるものは赤色を中心に発動位置を自由に決めることができる。
    <br>
    <div class="detail" v-for="maseki in masekiList">
      <div class="detail-title">{{maseki.name}}</div>
      <div class="detail-attr" v-for="attr in maseki.attrList">{{attr}}</div><br>
      <div v-for="enchant in maseki.enchantList">
        <div class="detail-item">{{enchant.name}}</div><div class="detail-desc">{{enchant.effect}}</div>
      </div>
      <div><div class="detail-item">魔法威力</div>{{maseki.power}}%</div>
      <div><div class="detail-item">魔法効果</div><div class="detail-desc">{{maseki.effect}}</div></div>
      <div>
        <div class="detail-item">魔法範囲</div>
        <div class="detail-range">
          <table>
            <tr v-for="(rangeRow, row) in maseki.range">
              <td v-for="(hit, col) in rangeRow" :class="{hit: hit === HIT || hit === HIT_ENDLESS, base: hit === HIT_BASE}">
                <template v-if="row === col && row === (rangeRow.length - 1) / 2">@</template>
                <template v-else-if="hit === HIT_ENDLESS">∞</template>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>

  <script src="maseki.js"></script>
  <script src="main.js"></script>
</body>
</html>