<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="google-site-verification" content="lC35WW3W-lsbLS4budw6dEXX7vHAhTQ3CM3g_f0div8" />
  <title>NonetEnsemble ～魔法仕掛けの迷宮～：魔石一覧</title>
  <meta content="魔石の効果などを一覧で確認できるサイト" name="description">
  <link rel="icon" href="./favicon/favicon.ico">
  <link rel="apple-touch-icon" href="./favicon/apple-touch-icon.png">
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <link rel="stylesheet" href="github-corner.css">
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="mobile.css">
</head>
<body>
  <a href="https://github.com/mogamoga1024/NonetEnsembleMagicStoneList" class="github-corner" aria-label="View source on GitHub">
    <svg viewBox="0 0 250 250" style="fill:#151513; color:#fff; position: absolute; top: 0; border: 0; right: 0;" aria-hidden="true">
      <path d="M0,0 L115,115 L130,115 L142,142 L250,250 L250,0 Z"></path>
      <path d="M128.3,109.0 C113.8,99.7 119.0,89.6 119.0,89.6 C122.0,82.7 120.5,78.6 120.5,78.6 C119.2,72.0 123.4,76.3 123.4,76.3 C127.3,80.9 125.5,87.3 125.5,87.3 C122.9,97.6 130.6,101.9 134.4,103.2" fill="currentColor" style="transform-origin: 130px 106px;" class="octo-arm"></path>
      <path d="M115.0,115.0 C114.9,115.1 118.7,116.5 119.8,115.4 L133.7,101.6 C136.9,99.2 139.9,98.4 142.2,98.6 C133.8,88.0 127.5,74.4 143.8,58.0 C148.5,53.4 154.0,51.2 159.7,51.0 C160.3,49.4 163.2,43.6 171.4,40.1 C171.4,40.1 176.1,42.5 178.8,56.2 C183.1,58.6 187.2,61.8 190.9,65.4 C194.5,69.0 197.7,73.2 200.1,77.6 C213.8,80.2 216.3,84.9 216.3,84.9 C212.7,93.1 206.9,96.0 205.4,96.6 C205.1,102.4 203.0,107.8 198.3,112.5 C181.9,128.9 168.3,122.5 157.7,114.1 C157.9,116.9 156.7,120.9 152.7,124.9 L141.0,136.5 C139.8,137.7 141.6,141.9 141.8,141.8 Z" fill="currentColor" class="octo-body"></path>
    </svg>
  </a>
  <div id="app">
    <h1>NonetEnsemble ～魔法仕掛けの迷宮～：魔石一覧</h1>
    <hr>
    <div>
      <div class="search-cond">
        <label class="search-item">属性</label>
        <div id="btn-attr-wrapper">
          <div class="btn-attr" id="btn-all" :class="{'selected': isSelectedAttr.all}" @click="onClickAttr('all')">ALL</div>
          <template v-for="attr in attrList">
            <div class="btn-attr" v-cloak :id="'btn-' + attr.key" :class="{'selected': isSelectedAttr[attr.key]}" @click="onClickAttr(attr.key)">{{attr.name}}</div>
          </template>
        </div>
      </div>
      <div class="search-cond">
        <label class="search-item" for="name">名称</label><!--
        --><select name="name" v-model="selectedName" @change="onChangeName">
          <option v-cloak v-for="maseki in nameList" :value="maseki.name">{{maseki.display}}</option>
        </select>
      </div>
      <div class="search-cond">
        <label class="search-item" for="effect-group">効果分類</label><!--
        --><select name="effect-group" v-model="selectedEffectGroup" @change="onChangeEffectGroup">
          <option value="all">ALL</option>
          <option value="single">単属性</option>
          <option value="multi">複属性</option>
          <option value="abnormal">状態異常</option>
          <option value="etc">その他</option>
        </select>
      </div>
      <div class="search-cond">
        <label class="search-item" for="effect">効果詳細</label><!--
        --><select name="effect" v-model="selectedEffect" @change="onChangeEffect">
          <option v-cloak v-for="maseki in effectList" :value="maseki.name">{{maseki.display}}</option>
        </select>
      </div>
      <div class="search-cond">
        <label class="search-item" for="sort">並び順</label><!--
        --><select name="sort" v-model="selectedSort" @change="onChangeSort">
          <option value="default">デフォルト</option>
          <option value="range">範囲</option>
          <option value="power-default">威力（初期値）</option>
          <option value="power-level2">威力（中級）</option>
          <option value="power-level3">威力（上級）</option>
        </select>
      </div>
    </div>
    <hr>
    <div style="margin: 10px 0 0 30px;" v-if="masekiList.length === 0">
      魔石データがない！！
    </div>
    <template id="maseki-list" v-else>
      ※ 魔法範囲の@はプレイヤーの位置。赤色があるものは赤色を中心に発動位置を自由に決めることができる。<br>
      <div id="maseki-list">
        <div class="detail" v-for="maseki in masekiList">
          <div class="detail-title-wrapper">
            <div class="detail-title" v-cloak>{{maseki.name}}</div>
            <div v-cloak :class="['detail-attr', 'attr-' + findAttrKeyByAttrName(attr)]" v-for="attr in maseki.attrList">{{attr}}</div>
          </div>
          <div v-for="enchant in maseki.enchantList">
            <div class="detail-item" v-cloak>{{enchant.name}}</div><div class="detail-desc" v-cloak>{{enchant.effect}}</div>
          </div>
          <div><div class="detail-item">魔法威力</div><div class="detail-desc-power" v-cloak>{{maseki.powerList.map(p => p + "%").join(" ")}}</div></div>
          <div><div class="detail-item">魔法効果</div><div class="detail-desc" v-cloak>{{maseki.effect}}</div></div>
          <div>
            <div class="detail-item">魔法範囲</div>
            <div class="detail-range">
              <table>
                <tr v-for="(rangeRow, row) in maseki.range">
                  <td v-for="(hit, col) in rangeRow" :class="{hit: hit === HIT || hit === HIT_ENDLESS, base: hit === HIT_BASE}">
                    <template v-if="row === col && row === (rangeRow.length - 1) / 2">@</template>
                    <template v-else-if="hit === HIT_ENDLESS">∞</template>
                  </td>
                </tr>
              </table>
            </div>
          </div>
          <div v-if="maseki.note !== ''" style="margin-top: 2px;"><div class="detail-item">補足</div><div class="detail-desc" v-cloak>{{maseki.note}}</div></div>
        </div>
      </div>
    </template>
  </div>

  <script src="maseki.js"></script>
  <script src="main.js"></script>
</body>
</html>