
#app {
  padding: 8px;
  font-size: 16px;
}

select {
  font-size: 16px;
}

.search-cond {
  margin-top: 4px;
}

.search-item {
  display: inline-block;
  width: 80px;
  margin-right: 10px;
  text-align: right;
  vertical-align: top;
}

.attr-button {
  display: inline-block;
  margin-right: 8px;
  padding: 0 4px;
  border-radius: 12%;
  border: 1px solid black;
  cursor: pointer;
  user-select: none;
}

.detail {
  display: inline-block;
  width: 305px;
  /* max-width: 290px; */
  min-height: 267px;
  margin-top: 10px;
  margin-right: 8px;
  padding: 8px;
  border: 1px solid black;
  vertical-align: top;
}

.detail-title {
  display: inline-block;
  font-size: 1.2rem;
}

.detail-attr {
  display: inline-block;
  margin-left: 8px;
}

.detail-item {
  display: inline-block;
  width: 100px;
  margin-right: 10px;
  text-align: right;
  vertical-align: top;
}

.detail-desc {
  display: inline-block;
  width: calc(100% - 100px - 10px); /* 親の幅 - 項目の幅 - 項目の右マージン */
}

.detail-range {
  display: inline-flex;
  width: calc(24px * 5 + 1px * 6 + 10px); /* tdの幅 * 5 + tdのborderの幅 * 6 + おまけ */
  height: calc(24px * 5 + 1px * 6 + 10px);
  justify-content: center;
  align-items: center;
}

.detail-range table {
  border-collapse: collapse;
}

.detail-range td {
  width: 24px;
  height: 24px;
  border: 1px solid black;
  text-align: center;
}

.detail-range td.hit {
  background-color: aqua;
}

.detail-range td.base {
  background-color: tomato;
}
