
#app {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 16px;
  font-size: 16px;
  font-family: Verdana, Roboto, "Droid Sans", "游ゴシック", YuGothic, "メイリオ", Meiryo, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "ＭＳ Ｐゴシック", sans-serif;
}

/* #appの幅以下の場合 */
@media screen and (max-width: 1300px) {
  h1 {
    /* #app + #appのパディング - github-cornerの幅 */
    width: calc(100% + 32px - 80px);
  }
}

select {
  font-size: 16px;
}

.search-cond {
  display: flex;
  margin-top: 4px;
  align-items: center;
}

.search-item {
  display: inline-block;
  width: 70px;
  margin-right: 10px;
  text-align: right;
  vertical-align: top;
}

#btn-attr-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: calc(100% - 70px - 10px); /* 親の幅 - 項目の幅 - 項目の右マージン */
  gap: 2px 2px;
}

.btn-attr {
  height: 25px;
  line-height: 25px;
  padding: 0 4px;
  border-radius: 12%;
  border: 1px solid black;
  font-weight: 600;
  cursor: pointer;
  user-select: none;
}

#btn-all {
  color: black;
  border-color: black;
}

#btn-all.selected {
  color: white;
  border-color: black;
  background-color: black;
}

#btn-hi {
  color: red;
  border-color: red;
}

#btn-hi.selected, .attr-hi {
  color: white;
  border-color: red;
  background-color: red;
}

#btn-mizu {
  color: blue;
  border-color: blue;
}

#btn-mizu.selected, .attr-mizu {
  color: white;
  border-color: blue;
  background-color: blue;
}

#btn-koori {
  color: royalblue;
  border-color: royalblue;
}

#btn-koori.selected, .attr-koori {
  color: white;
  border-color: royalblue;
  background-color: royalblue;
}

#btn-kaze {
  color: green;
  border-color: green;
}

#btn-kaze.selected, .attr-kaze {
  color: white;
  border-color: green;
  background-color: green;
}

#btn-kaminari {
  color: darkorange;
  border-color: darkorange;
}

#btn-kaminari.selected, .attr-kaminari {
  color: white;
  border-color: darkorange;
  background-color: darkorange;
}

#btn-ti {
  color: maroon;
  border-color: maroon;
}

#btn-ti.selected, .attr-ti {
  color: white;
  border-color: maroon;
  background-color: maroon;
}

#btn-hikari {
  color: dimgray;
  border-color: dimgray;
}

#btn-hikari.selected, .attr-hikari {
  color: white;
  border-color: silver;
  background-color: silver;
}

#btn-yami {
  color: purple;
  border-color: purple;
}

#btn-yami.selected, .attr-yami {
  color: white;
  border-color: purple;
  background-color: purple;
}

#btn-oto {
  color: deeppink;
  border-color: deeppink;
}

#btn-oto.selected, .attr-oto {
  color: white;
  border-color: deeppink;
  background-color: deeppink;
}

#maseki-list {
  display: flex;
  margin: 10px 0 24px;
  flex-wrap: wrap;
  gap: 10px 8px;
}

.detail {
  width: 290px;
  min-height: 267px;
  padding: 12px;
  border: 1px solid black;
  border-radius: 2%;
  vertical-align: top;
}

.detail-title-wrapper {
  display: flex;
  margin-bottom: 5px;
  align-items: center;
}

.detail-title {
  display: inline-block;
  margin-right: 8px;
  font-size: 1.2rem;
  font-weight: bold;
}

.detail-attr {
  display: inline-block;
  height: 25px;
  line-height: 25px;
  margin-left: 2px;
  padding: 0 4px;
  border-radius: 12%;
  font-weight: 600;
}

.detail-item {
  display: inline-block;
  width: 100px;
  margin-right: 10px;
  text-align: right;
  vertical-align: top;
}

.detail-desc {
  display: inline-block;
  width: calc(100% - 100px - 10px); /* 親の幅 - 項目の幅 - 項目の右マージン */
}

.detail-desc-power {
  display: inline-block;
  width: calc(100% - 100px - 10px); /* 親の幅 - 項目の幅 - 項目の右マージン */
  line-height: 25px;
}

.detail-range {
  display: inline-flex;
  width: calc(24px * 5 + 1px * 6 + 10px); /* tdの幅 * 5 + tdのborderの幅 * 6 + おまけ */
  height: calc(24px * 5 + 1px * 6 + 10px);
  padding-top: 6px;
  justify-content: center;
  align-items: center;
}

.detail-range table {
  border-collapse: collapse;
}

.detail-range td {
  width: 24px;
  height: 24px;
  border: 1px solid black;
  text-align: center;
}

.detail-range td.hit {
  background-color: aqua;
}

.detail-range td.base {
  background-color: tomato;
}
