
.detail {
  margin-top: 10px;
}

.detail-item {
  display: inline-block;
  width: 80px;
  margin-right: 10px;
  text-align: right;
  vertical-align: top;
  /* background-color: red; */
}

.detail-range {
  display: inline-block;
}

